<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="w0l1d">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <title th:text="#{title.page.task}">Gestion des Stagiaires - Stagiares</title>

    <!-- replace with global stylesheets-->
    <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>

    <!-- replace with local stylesheets-->
    <div th:replace="~{fragments/local_assets.html :: #datatable/link}" class="replace-fragment"></div>

    <!-- replace with local stylesheets-->
    <div class="replace-fragment"
         sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{fragments/local_assets.html :: select2/link}"></div>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar @#@ -->
        <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar @#@-->
                <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
                <!-- End of Topbar -->


                <!-- Alerts -->
                <div class="replace-fragment" id="alerts" th:replace="~{fragments/alerts.html :: #task-alerts}"></div>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"
                        th:text="#{sidebar.tasks}">Tasks</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="d-inline m-0 font-weight-bold text-primary">

                            </h6>

                            <!-- Add task Modal Button @#@-->
                            <div class="replace-fragment" id="add-task-dialog-button"
                                 th:replace="~{task/add_task.html :: #add_task_modal_button}"></div>

                        </div>
                        <div class="card-body">
                            <table class="display responsive nowrap"
                                   style="width:100%; font-size: calc(0.5em + 1vmin);"
                                   id="serverSide-dataTable">
                                <thead>
                                <tr>
                                    <th th:text="#{form.id}">Id</th>
                                    <th th:text="#{form.task}">Task</th>
                                    <th th:text="#{form.task_date}">date</th>
                                    <th th:text="#{form.internship}">internship</th>
                                    <th class="all" id="actions-head"
                                        sec:authorize="hasRole('ROLE_ADMIN')"
                                        th:text="#{action.action}">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer  @#@-->
            <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal @#@-->
    <div th:replace="~{fragments/logout_modal.html :: #logoutModal}" id="logout-dialog" class="replace-fragment"></div>


    <!-- replace with global scripts @#@ -->
    <div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>


    <!-- replace with page scripts @#@ -->
    <div th:replace="~{fragments/local_assets.html :: #datatable/script}" class="replace-fragment"></div>

    <!-- replace with page scripts @#@ -->
    <div class="replace-fragment"
         sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{fragments/local_assets.html :: select2/script}"></div>


    <!-- Add task Modal @#@-->
    <div class="replace-fragment" id="add-task-dialog" th:replace="~{task/add_task.html :: #add_task_form}"></div>


    <!-- Select2 script @#@-->
    <div class="replace-fragment"
         id="select2-script" sec:authorize="hasRole('ROLE_ADMIN')"
         th:replace="~{task/add_task.html :: select2-script}"></div>


    <!-- Datatable Actions  @#@-->
    <div class="d-none replace-fragment" id="actions"
         th:insert="~{fragments/datatable_fragments.html :: dt-actions (msg=#{msg.confirm_delete.task})}"></div>

    <script>
        $(document).ready(function () {

            const lg = $('html').attr('lang')
            let langUrl = '/js/json/' + lg + '.json'

            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            const dateOptions = {year: 'numeric', month: 'long', day: 'numeric'};

            const columns = [
                {data: 'id'},
                {
                    data: 'txtTask',
                    render: function (data, type, row) {
                        return `<p style="word-break: break-all">${data}</p>`
                    }
                },
                {
                    data: 'dateTask',
                    render: function (data, type, row) {
                        let d = new Date(data)
                        return d.toLocaleDateString(lg, dateOptions)
                    }
                },
                {
                    data: 'internship',
                    searchable: false,
                    render: function (data, type, row) {
                        let startAt = new Date(data.startsAt)
                        const date1 = startAt.toLocaleDateString(lg, dateOptions)
                        let endAt = new Date(data.endsAt)
                        const date2 = endAt.toLocaleDateString(lg, dateOptions)
                        return `<dl><dt><a href="/internships/${data.id}">${data.project}</a></dt><dd><small>${date1} ~ ${date2}</small></dd></dl>`;
                    }
                },
            ]

            const actionCol = {
                data: null,
                orderable: false,
                searchable: false,
                render: function (data, type, row) {
                    if (!$('#actions-head').length)
                        return '';
                    const hrefDelete = `/tasks/${row.id}/delete`
                    const hrefUpdate = `/tasks/${row.id}/update`
                    let actions = $('#actions').clone()

                    $(actions).find('.btn-danger').attr('href', hrefDelete)
                    $(actions).find('.btn-primary').attr('href', hrefUpdate);
                    return actions.html();
                }
            };

            const isAdmin = !!$('#actions-head').length;

            if (isAdmin) {
                columns.push(actionCol)
            }


            $('#serverSide-dataTable')
                .DataTable({
                    language: {
                        url: langUrl
                    },
                    serverSide: true,
                    columns: columns,
                    searchable: isAdmin,
                    ajax: {
                        'contentType': 'application/json',
                        url: '/api/task',
                        type: 'POST',
                        'data': function (d) {
                            return JSON.stringify(d);
                        },
                        'beforeSend': function (request) {
                            request.setRequestHeader(header, token);
                        }
                    }
                });
        });

    </script>

</body>

</html>