<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="w0l1d" name="author">


    <title th:text="#{title.page.internship}">Gestion des Taches - Taches</title>

    <!-- replace with global stylesheets-->
    <div class="replace-fragment" th:replace="~{fragments/all_assets.html :: link}"></div>

    <!-- replace with local stylesheets-->
    <div class="replace-fragment" th:replace="~{fragments/local_assets.html :: #datatable/link}"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar @#@ -->
    <div class="replace-fragment" id="sidebar" th:replace="~{fragments/sidebar.html :: #sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar @#@-->
            <div class="replace-fragment" id="navbar" th:replace="~{fragments/navbar.html :: #navbar}"></div>
            <!-- End of Topbar -->


            <!-- Alerts -->
            <div class="replace-fragment" id="alerts"
                 th:replace="~{fragments/alerts.html :: #internship-absences-alerts}"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"
                    th:text="#{sidebar.absences}">Task</h1>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">

                        <!-- Add Absence Modal Button @#@-->
                        <div class="replace-fragment"
                             id="add-absence-dialog-button"
                             th:replace="~{fragments/add_absence.html :: #add_absence_modal_button}"></div>

                    </div>
                    <div class="card-body">
                        <table class="display responsive nowrap"
                               id="dataTable"
                               style="width:100%; font-size: calc(0.5em + 1vmin);">
                            <thead>
                            <tr>
                                <th th:text="#{form.id}">Id</th>
                                <th th:text="#{form.duration}">Name</th>
                                <th th:text="#{form.start}">Username</th>
                                <th th:text="#{form.end}"></th>
                                <th th:text="#{form.cause}"></th>
                                <th class="all" th:text="#{action.action}">Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th th:text="#{form.id}">Id</th>
                                <th th:text="#{form.duration}">Name</th>
                                <th th:text="#{form.start}">Username</th>
                                <th th:text="#{form.end}"></th>
                                <th th:text="#{form.cause}"></th>
                                <th class="all" th:text="#{action.action}">Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="sat : ${absences}" th:with="format=#{form.date_format}">
                                <td th:text="${sat?.id}"></td>
                                <td th:text="${sat?.nbrDays}"></td>
                                <td th:text="${#dates.format(sat?.startsAt, format)}"></td>
                                <td th:text="${#dates.format(sat?.endsAt, format)}"></td>
                                <td th:text="${sat?.cause}"></td>
                                <td>
                                    <div class="row">
                                        <div class="col-auto col-lg">
                                            <a class="btn btn-danger btn-circle btn-sm"
                                               th:href="@{{curr}/{id}/delete(id=${sat?.id}, curr=${#httpServletRequest.requestURI})}"
                                               th:onclick="'return confirm(\''+#{msg.confirm_delete.absence}+'\');'">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                        <div class="col-auto col-lg">
                                            <a class="btn btn-primary btn-circle btn-sm"
                                               th:href="@{/absences/{id}(id=${sat?.id})}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer  @#@-->
        <div class="replace-fragment" id="footer" th:replace="~{fragments/footer.html :: #footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal @#@-->
<div class="replace-fragment" id="logout-dialog" th:replace="~{fragments/logout_modal.html :: #logoutModal}"></div>


<!-- replace with global scripts @#@ -->
<div class="replace-fragment" th:replace="~{fragments/all_assets.html :: script}"></div>


<!-- replace with page scripts @#@ -->
<div class="replace-fragment" th:replace="~{fragments/local_assets.html :: #datatable/script}"></div>

<!-- Add internship Modal @#@-->
<div class="replace-fragment" id="add-absence-dialog"
     th:replace="~{fragments/add_absence.html :: #add_absence_form}"></div>

</body>

</html>