<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="w0l1d" name="author">


    <title th:text="#{title.add_absence}">Gestion des Stagiaires - Stagiares</title>

    <!-- replace with global stylesheets-->
    <div class="replace-fragment" th:replace="~{fragments/all_assets.html :: link}"></div>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar @#@ -->
    <div class="replace-fragment" id="sidebar" th:replace="~{fragments/sidebar.html :: #sidebar}"></div>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar @#@-->
            <div class="replace-fragment" id="navbar" th:replace="~{fragments/navbar.html :: #navbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800" th:text="#{title.add_absence}">Stagiaires</h1>
                <form id="add_internship_form" method="post"
                      th:action="@{${#httpServletRequest.requestURI}}"
                      th:class="${#fields.hasAnyErrors()? 'was-validated':''}"
                      th:object="${absence}">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="d-inline m-0 font-weight-bold text-primary">
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row row-cols-1 row-cols-xl-2 row-cols-lg-2">
                                <div class="form-group">
                                    <label for="start" th:text="#{form.starts_at}">starts at</label>
                                    <input id="start" required
                                           th:class="'form-control ' + ${#fields.hasErrors('startsAt') ? 'is-invalid':''}"
                                           th:field="*{startsAt}" type="date">
                                    <div class="invalid-feedback"
                                         th:errors="*{startsAt}"
                                         th:if="${#fields.hasErrors('startsAt')}"></div>
                                </div>
                                <div class="form-group">
                                    <label for="ends" th:text="#{form.ends_at}">ends at</label>
                                    <input id="ends" required
                                           th:class="'form-control ' + ${#fields.hasErrors('endsAt') ? 'is-invalid':''}"
                                           th:field="*{endsAt}" type="date">
                                    <div class="invalid-feedback"
                                         th:errors="*{endsAt}"
                                         th:if="${#fields.hasErrors('endsAt')}"></div>
                                </div>
                                <div class="form-group">
                                    <input id="valideRange" required
                                           th:class="'form-control' + ${#fields.hasErrors('validRange') ? ' is-invalid':''}"
                                           th:field="*{validRange}"
                                           type="hidden">
                                    <div class="invalid-feedback"
                                         th:errors="*{validRange}"
                                         th:if="${#fields.hasErrors('validRange')}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nbr_jours" th:text="#{form.nbr_jours}"></label>
                                <div class="input-group">
                                    <input id="nbr_jours"
                                           min="1"
                                           required
                                           th:class="'form-control ' + ${#fields.hasErrors('nbrDays') ? 'is-invalid':''}"
                                           th:field="*{nbrDays}" type="number">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                              id="basic-addon2"
                                              th:text="#{form.days}">Days</span>
                                    </div>
                                    <div class="invalid-feedback"
                                         th:errors="*{nbrDays}"
                                         th:if="${#fields.hasErrors('nbrDays')}"></div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="absence_cause" th:text="#{form.cause}"></label>
                                <input id="absence_cause"
                                       required
                                       th:class="'form-control ' + ${#fields.hasErrors('cause') ? 'is-invalid':''}"
                                       th:field="*{cause}"
                                       type="text">
                                <div class="invalid-feedback"
                                     th:errors="*{cause}"
                                     th:if="${#fields.hasErrors('cause')}"></div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block" th:text="#{action.add}" type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer  @#@-->
        <div class="replace-fragment" id="footer" th:replace="~{fragments/footer.html :: #footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- replace with global scripts @#@ -->
<div class="replace-fragment" th:replace="~{fragments/all_assets.html :: script}"></div>

<script>
    $(document).ready(function () {
        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }


        $('#start').on('change', function () {
            let date = $(this).val();
            date = new Date(date).addDays(1).toISOString().slice(0, 10);
            $('#ends').prop('min', date);
        });
    });
</script>

</body>

</html>