<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="w0l1d">


    <title th:text="#{title.page.internship}">Gestion des Stages - Stages</title>

    <!-- replace with global stylesheets-->
    <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>

    <!-- replace with local stylesheets-->
    <div th:replace="~{fragments/local_assets.html :: #datatable/link}" class="replace-fragment"></div>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar @#@ -->
        <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar @#@-->
                <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"
                        th:text="#{sidebar.internships}">Stages</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="d-inline m-0 font-weight-bold text-primary">
                                <div th:if="${msg_updated}" th:text="#{msg.stage_updated}"
                                     class="alert alert-success d-inline-block"></div>

                                <div class="alert alert-success d-inline-block" th:if="${msg_inserted}"
                                     th:text="#{msg.stage_inserted}"></div>

                                <div th:if="${msg_deleted} or ${param.deleted}" th:text="#{msg.stage_deleted}"
                                     class="alert alert-danger d-inline-block"></div>
                            </h6>

                            <!-- Add internship Modal Button @#@-->
                            <!--                            <div th:replace="~{fragments/add_internship.html :: #add_internship_modal_button}"-->
                            <!--                                 id="add-internship-dialog-button" class="replace-fragment"-->
                            <!--                                 sec:authorize="hasRole('ROLE_ADMIN')" ></div>-->

                        </div>
                        <div class="card-body">
                            <table  class="display responsive nowrap"
                                    style="width:100%; font-size: calc(0.5em + 1vmin);"
                                    id="dataTable">
                                <thead>
                                    <tr>
                                        <th th:text="#{form.id}">Id</th>
                                        <th th:text="#{form.type}">Type</th>
                                        <th th:text="#{form.starts_at}">Starts at</th>
                                        <th th:text="#{form.ends_at}">Ends At</th>
                                        <th th:text="#{form.duration}">Duration</th>
                                        <th th:text="#{form.formation}">Formation</th>
                                        <th th:text="#{form.etablissement}">Establishment</th>
                                        <th th:text="#{form.project_title}">project title</th>
                                        <th th:text="#{form.project_desc}">Description</th>
                                        <th th:text="#{form.status}">Status</th>
                                        <th th:text="#{form.task}">Tasks</th>
                                        <th th:text="#{form.absence}">Absences</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{form.piece_joint}">
                                            Piece Joint
                                        </th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{form.alert}">Alerts</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{action.action}">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th th:text="#{form.id}">Id</th>
                                        <th th:text="#{form.type}">Type</th>
                                        <th th:text="#{form.starts_at}">Starts at</th>
                                        <th th:text="#{form.ends_at}">Ends At</th>
                                        <th th:text="#{form.duration}">Duration</th>
                                        <th th:text="#{form.formation}">Formation</th>
                                        <th th:text="#{form.etablissement}">Establishment</th>
                                        <th th:text="#{form.project_title}">project title</th>
                                        <th th:text="#{form.project_desc}">Description</th>
                                        <th th:text="#{form.status}">Status</th>
                                        <th th:text="#{form.task}">Tasks</th>
                                        <th th:text="#{form.absence}">Absences</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{form.piece_joint}">
                                            Piece Joint
                                        </th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{form.alert}">Alerts</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{action.action}">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="sat : ${internships}" th:with="format=#{form.date_format}">
                                    <td th:text="${sat?.id}"></td>
                                    <td th:text="${sat?.type}"></td>
                                    <td th:text="${#dates.format(sat?.startsAt, format)}"></td>
                                    <td th:text="${#dates.format(sat?.endsAt, format)}"></td>
                                    <td th:text="${sat?.duration}"></td>
                                    <td th:text="${sat?.formation}"></td>
                                    <td th:text="${sat?.etablissement}"></td>
                                    <td th:text="${sat?.project}"></td>
                                    <td th:text="${sat?.desc}"></td>
                                    <td th:if="${sat?.status} == 1" th:text="#{form.status.in_progress}"></td>
                                    <td th:if="${sat?.status} == 2" th:text="#{form.status.saved}"></td>
                                    <td th:if="${sat?.status} == 3" th:text="#{form.status.finished}"></td>
                                    <td th:if="${sat?.status} == 4" th:text="#{form.status.canceled}"></td>
                                    <td>
                                        <a class="btn btn-circle btn-outline-info btn-sm"
                                           th:href="@{/internships/{id}/tasks(id=${sat?.id})}">
                                            <i class="fas fa-share"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-circle btn-outline-info btn-sm"
                                           th:href="@{/internships/{id}/absences(id=${sat?.id})}">
                                            <i class="fas fa-share"></i>
                                        </a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a class="btn btn-circle btn-outline-info btn-sm"
                                           th:href="@{/internships/{id}/files(id=${sat?.id})}">
                                            <i class="fas fa-share"></i>
                                        </a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a class="btn btn-circle btn-outline-info btn-sm"
                                           th:href="@{/internships/{id}/alerts(id=${sat?.id})}">
                                            <i class="fas fa-share"></i>
                                        </a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <div class="row">
                                            <div class="col-5 col-lg m-auto">
                                                <a th:href="@{/internships/{id}/delete(id=${sat?.id})}"
                                                   th:onclick="'return confirm(\''+#{msg.confirm_delete.stage}+'\');'"
                                                   class="btn btn-danger btn-block btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                            <div class="col-5 col-lg m-auto">
                                                <a th:href="@{/internships/{id}(id=${sat?.id})}"
                                                       class="btn btn-primary btn-block btn-sm">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer  @#@-->
            <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal @#@-->
    <div th:replace="~{fragments/logout_modal.html :: #logoutModal}" id="logout-dialog" class="replace-fragment"></div>


    <!-- Add internship Modal @#@-->
    <!--    <div th:replace="~{fragments/add_internship.html :: #add_internship_form}" sec:authorize="hasRole('ROLE_ADMIN')" id="add-internship-dialog" class="replace-fragment"></div>-->


    <!-- replace with global scripts @#@ -->
    <div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>


    <!-- replace with page scripts @#@ -->
    <div th:replace="~{fragments/local_assets.html :: #datatable/script}" class="replace-fragment"></div>



</body>

</html>