<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="w0l1d">


  <title th:text="#{title.update_internship}">Gestion des Stagiaires - Stagiares</title>

  <!-- replace with global stylesheets-->
  <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>





</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar @#@ -->
  <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar @#@-->
      <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800" th:text="#{title.add_internship}">Stages</h1>
        <form id="add_internship_form" th:object="${internship}"
              method="post" th:action="@{${#httpServletRequest.requestURI}}">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="d-inline m-0 font-weight-bold text-primary">
              </h6>


            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="type" th:text="#{form.type}">type</label>
                <input type="text" class="form-control"
                       id="type" required th:field="*{type}">
              </div>
              <div class="form-row row-cols-1 row-cols-xl-2 row-cols-lg-2">
                <div class="form-group">
                  <label for="start" th:text="#{form.starts_at}">starts at</label>
                  <input class="form-control" id="start"
                         required th:field="*{startsAt}" type="date">
                </div>
                <div class="form-group">
                  <label for="ends" th:text="#{form.ends_at}">ends at</label>
                  <input class="form-control" id="ends"
                         required th:field="*{endsAt}" type="date">
                </div>
              </div>

              <div class="form-group">
                <label for="duration" th:text="#{form.duration}">duration</label>
                <input class="form-control" id="duration"
                       required th:field="*{duration}" type="text">
              </div>

              <div class="form-group">
                <label for="formation" th:text="#{form.formation}">formation</label>
                <input class="form-control" id="formation" placeholder="Software Engineering"
                       th:field="*{formation}" type="text">
              </div>

              <div class="form-group">
                <label for="etab" th:text="#{form.etablissement}">establishment</label>
                <input class="form-control" id="etab" th:field="*{etablissement}"
                       type="text">
              </div>

              <div class="form-group">
                <label for="intitul_poject" th:text="#{form.project_title}">project title</label>
                <input class="form-control" id="intitul_poject" required
                       th:field="*{project}" type="text">
              </div>

              <div class="form-group">
                <label for="desc_poject" th:text="#{form.project_desc}">project title</label>
                <input class="form-control" id="desc_poject" th:field="*{desc}"
                       type="text">
              </div>

            </div>

            <div class="card-footer">
              <button class="btn btn-primary btn-block" th:text="#{action.update}"
                      type="submit">Update
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer  @#@-->
    <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- replace with global scripts @#@ -->
<div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>

</body>

</html>