<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body>

<button id="add_internship_modal_button" type="button"
        class="btn btn-primary float-right px-4 d-inline-block"
        data-toggle="modal" data-target="#add_internship_modal"
        th:text="#{action.add}">
    Add
</button>

<form id="add_internship_form" th:object="${internship}" method="post" th:action="@{/internships}" >
    <div class="modal fade" id="add_internship_modal" tabindex="-1" role="dialog"
         aria-labelledby="add_internship_modal_Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_internship_modal_Title" th:text="#{title.add_internship}">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="type" th:text="#{form.type}">type</label>
                        <input type="text" class="form-control"
                               id="type" th:field="*{type}" required>
                    </div>
                    <div class="form-row row-cols-1 row-cols-xl-2 row-cols-lg-2">
                        <div class="form-group">
                            <label for="start" th:text="#{form.starts_at}">starts at</label>
                            <input type="date" class="form-control"
                                   id="start" required th:field="*{startsAt}">
                        </div>
                        <div class="form-group">
                            <label for="ends" th:text="#{form.ends_at}">ends at</label>
                            <input type="date" class="form-control"
                                   id="ends" required th:field="*{endsAt}">
                        </div>
                    </div>

                    <div class="form-row row-cols-2 row-cols-sm-1">
                        <div class="form-group">
                            <label for="duration" th:text="#{form.duration}">duration</label>
                            <input class="form-control" id="duration"
                                   required th:field="*{duration}" type="text">
                        </div>
                        <div class="form-group">
                            <label for="status" th:text="#{form.status}"></label>
                            <select class="custom-select" id="status" required th:field="*{status}">
                                <option selected th:text="#{form.status.in_progress}" value="1"></option>
                                <option th:text="#{form.status.saved}" value="2"></option>
                                <option th:text="#{form.status.finished}" value="3"></option>
                                <option th:text="#{form.status.canceled}" value="3"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="formation" th:text="#{form.formation}">formation</label>
                        <input type="text" class="form-control" th:field="*{formation}"
                               id="formation" placeholder="Software Engineering">
                    </div>

                    <div class="form-group">
                        <label for="etab" th:text="#{form.etablissement}">establishment</label>
                        <input type="text" class="form-control" th:field="*{etablissement}"
                               id="etab">
                    </div>

                    <div class="form-group">
                        <label for="intitul_poject" th:text="#{form.project_title}">project title</label>
                        <input class="form-control" th:field="*{project}" type="text"
                               id="intitul_poject" required>
                    </div>

                    <div class="form-group">
                        <label for="desc_poject" th:text="#{form.project_desc}">project title</label>
                        <input type="text" class="form-control" th:field="*{desc}"
                               id="desc_poject">
                    </div>

                </div>
                <div class="modal-footer">
                    <button th:text="#{action.close}" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button th:text="#{action.add}" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

</form>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>
</html>