<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

</head>
<body>

<button class="btn btn-primary float-right px-4 d-inline-block" data-target="#add_user_modal"
        data-toggle="modal"
        id="add_user_modal_button" th:text="#{action.add}"
        type="button">
    Add
</button>

<form id="add_user_form" method="post"
      th:action="@{/users}" th:class="${#fields.hasAnyErrors()? 'was-validated':''}"
      th:object="${employee}">
    <div aria-hidden="true" aria-labelledby="add_user_modal_Title" class="modal fade" id="add_user_modal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_user_modal_Title" th:text="#{title.add_user}">Modal title</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" th:text="#{form.name}">Name</label>
                        <input id="name" min="4"
                               required th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid':''}"
                               th:field="*{name}" type="text">
                        <div class="invalid-feedback"
                             th:errors="*{name}"
                             th:if="${#fields.hasErrors('name')}"></div>
                    </div>
                    <div class="form-group">
                        <label for="cin" th:text="#{form.cin}">CIN</label>
                        <input id="cin" pattern="^[A-Za-z]{1,2}[0-9]{4,10}$"
                               placeholder="AB12345678 A1234 A12345678" required
                               th:class="'form-control ' + ${#fields.hasErrors('cin') ? 'is-invalid':''}"
                               th:field="*{cin}"
                               type="text">
                        <small class="form-text text-muted text-gray-500">1-2 letters + 4 to 8 digits</small>
                        <div class="invalid-feedback"
                             th:errors="*{cin}"
                             th:if="${#fields.hasErrors('cin')}"></div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username" th:text="#{form.username}">Username</label>
                            <input id="username" min="4"
                                   th:class="'form-control ' + ${#fields.hasErrors('username') ? 'is-invalid':''}"
                                   th:field="*{username}"
                                   type="text"/>
                            <div class="invalid-feedback"
                                 th:errors="*{username}"
                                 th:if="${#fields.hasErrors('username')}"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password" th:text="#{form.password}">Password</label>
                            <input id="password" min="8" required
                                   th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid':''}"
                                   th:field="*{password}"
                                   type="password"/>
                            <div class="invalid-feedback"
                                 th:errors="*{password}"
                                 th:if="${#fields.hasErrors('password')}"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" th:text="#{form.email}">Email</label>
                        <input id="email" required
                               th:class="'form-control ' + ${#fields.hasErrors('email') ? 'is-invalid':''}"
                               th:field="*{email}" type="email">
                        <div class="invalid-feedback"
                             th:errors="*{email}"
                             th:if="${#fields.hasErrors('email')}"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" th:text="#{action.close}" type="button">
                        Close
                    </button>
                    <button class="btn btn-primary" th:text="#{action.add}" type="submit">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            if ($('#add_user_form').hasClass('was-validated'))
                $("#add_user_modal_button").click()
        });
    </script>
</form>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>
</html>