<div class="alerts font-weight-bold m-0 text-primary toast" id="task-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.task_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.task_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.task_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="interner-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.stagiaire_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.stagiaire_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.stagiaire_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="absence-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.absence_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.absence_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.absence_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="employee-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.user_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.user_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.user_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="docs-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.document_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.document_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.document_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="piece-category-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.piece_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.piece_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.piece_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="internship-internships-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.stage_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.stage_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.stage_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


<div class="alerts font-weight-bold m-0 text-primary toast" id="internship-tasks-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.task_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.task_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.task_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>

<div class="alerts font-weight-bold m-0 text-primary toast" id="internship-absences-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.absence_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-success d-inline-block row" th:if="${msg_updated}">
        <p class="d-inline-block m-0 col" th:text="#{msg.absence_updated}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.absence_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>

<div class="alerts font-weight-bold m-0 text-primary toast" id="internship-files-alerts">
    <div class="alert alert-success d-inline-block row" th:if="${msg_inserted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.file_inserted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>

    <div class="alert alert-danger d-inline-block row" th:if="${msg_deleted} or ${param.deleted}">
        <p class="d-inline-block m-0 col" th:text="#{msg.file_deleted}"></p>
        <i class="close-alert fa fa-times pl-4 col-auto" role="button"></i>
    </div>
</div>


