<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="justify-content-around row" th:fragment="dt-actions (msg)">
    <div class="col-auto col-lg">
        <a class="btn btn-danger btn-circle btn-sm"
           href="#"
           th:onclick="return confirm([[${msg}]])">
            <i class="fas fa-trash"></i>
        </a>
    </div>
    <div class="col-auto col-lg">
        <a class="btn btn-primary btn-circle btn-sm"
           href="#">
            <i class="fas fa-edit"></i>
        </a>
    </div>
</div>


</body>
</html>