<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<div id="datatable">

    <link th:href="@{/vendor/datatables/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/responsive.dataTables.min.css}" rel="stylesheet">

    <script th:src="@{/vendor/datatables/jquery-3.5.1.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.responsive.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/call_datatable_plugin.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</div>


<div th:fragment="select2">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"-->
    <!--          integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA=="-->
    <!--          crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet"/>-->

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</div>


</body>
</html>