<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>







<div id="stagiaires">

    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap4-toggle/css/bootstrap4-toggle.min.css}" rel="stylesheet">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/bootstrap4-toggle/js/bootstrap4-toggle.min.js}"></script>

    <!-- Page level scripts -->
    <script th:src="@{/vendor/bootstrap4-toggle/js/bootstrap4-toggle.min.js}"></script>


    <!-- Page level custom scripts -->
    <script th:src="@{/js/call_datatable_plugin.js}"></script>
    <script th:src="@{/js/select_page_link.js}"></script>
</div>


</body>
</html>