<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, employee-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul id="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">
            <img class="img-thumbnail px-3 py-1"
                 alt="Logo storactive" th:src="@{/img/logo.png}"/>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span th:text="#{sidebare.dashboard}">Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" sec:authorize="hasRole('ROLE_ADMIN')">

    <!-- Heading -->
    <div th:text="#{sidebar.title.man_users}" sec:authorize="hasRole('ROLE_ADMIN')" class="sidebar-heading">
        users
    </div>


    <!-- Nav Item - Stagiaires -->
    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/interners">
            <i class="fa-fw fa-users fas"></i>
            <span th:text="#{sidebar.stagiaires}">Stagiaire</span></a>
    </li>

    <!-- Nav Item - Users -->
    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/users">
            <i class="fa-fw fa-users-cog fas"></i>
            <span th:text="#{sidebar.users}"></span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading" th:text="#{sidebar.title.internships}">
        Internships
    </div>

    <!-- Nav Item - Internships -->
    <li class="nav-item">
        <a class="nav-link" href="/internships">
            <i class="fa-fw fa-id-badge fas"></i>
            <span th:text="#{sidebar.internships}"></span></a>
    </li>

    <!-- Nav Item - Tasks -->
    <li class="nav-item">
        <a class="nav-link" href="/tasks">
            <i class="fa-fw fa-tasks fas"></i>
            <span th:text="#{sidebar.tasks}"></span></a>
    </li>


    <!-- Nav Item - Absences -->
    <li class="nav-item">
        <a class="nav-link" href="/absences">
            <i class="fa-fw fa-user-clock fas"></i>
            <span th:text="#{sidebar.absences}"></span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading" th:text="#{sidebar.title.archive}">
        Archive
    </div>

    <!-- Nav Item - Documents Categories -->
    <li class="nav-item">
        <a class="nav-link" href="/documents/categories">
            <i class="fa-fw fa-archive fas"></i>
            <span th:text="#{sidebar.documents_cat}"></span></a>
    </li>

    <!-- Nav Item - Documents -->
    <li class="nav-item">
        <a class="nav-link" href="/documents">
            <i class="fa-fw fa-archive fas"></i>
            <span th:text="#{sidebar.documents}"></span></a>
    </li>

    <!-- Nav Item - History -->
    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/history">
            <i class="fa-fw fa-history fas"></i>
            <span th:text="#{sidebar.history}"></span></a>
    </li>




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
</body>
</html>