<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="w0l1d">


    <title th:text="#{title.page.user}">Gestion des Utilisateurs - Users</title>

    <!-- replace with global stylesheets-->
    <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>

    <!-- replace with local stylesheets-->
    <div th:replace="~{fragments/local_assets.html :: #datatable/link}" class="replace-fragment"></div>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar @#@ -->
        <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar @#@-->
                <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"
                        th:text="#{sidebar.users}">Users</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="d-inline m-0 font-weight-bold text-primary">
                                <div th:if="${msg_updated}" th:text="#{msg.user_updated}"
                                     class="alert alert-success d-inline-block"></div>

                                <div th:if="${msg_deleted} or ${param.deleted}" th:text="#{msg.user_deleted}"
                                     class="alert alert-danger d-inline-block"></div>
                            </h6>

                            <!-- Add User Modal Button @#@-->
                            <div class="replace-fragment" id="add-user-dialog-button"
                                 th:replace="~{fragments/add_employee.html :: #add_user_modal_button}"></div>

                        </div>
                        <div class="card-body">
                            <table  class="display responsive nowrap"
                                    style="width:100%; font-size: calc(0.5em + 1vmin);"
                                    id="dataTable">
                                <thead>
                                    <tr>
                                        <th th:text="#{form.id}">Id</th>
                                        <th th:text="#{form.name}">Name</th>
                                        <th th:text="#{form.username}">Username</th>
                                        <th th:text="#{form.cin}">CIN</th>
                                        <th th:text="#{form.email}">Email</th>
                                        <th th:text="#{action.action}">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th th:text="#{form.id}">Id</th>
                                        <th th:text="#{form.name}">Name</th>
                                        <th th:text="#{form.username}">Username</th>
                                        <th th:text="#{form.cin}">CIN</th>
                                        <th th:text="#{form.email}">Email</th>
                                        <th th:text="#{action.action}">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="sat : ${employees}">
                                    <td th:text="${sat?.id}"></td>
                                    <td th:text="${sat?.name}"></td>
                                    <td th:text="${sat?.username}"></td>
                                    <td th:text="${sat?.cin}"></td>
                                    <td th:text="${sat?.email}"></td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg m-auto"
                                                 th:if="${not #strings.equalsIgnoreCase(sat?.username, #authentication.name)}">
                                                <a class="btn btn-danger btn-block btn-sm"
                                                   th:href="@{/users/{id}/delete(id=${sat?.id})}"
                                                   th:onclick="'return confirm(\''+#{msg.confirm_delete.user}+'\');'">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                            <div class="col-lg m-auto">
                                                <a class="btn btn-primary btn-block btn-sm"
                                                   th:href="@{/users/{id}(id=${sat?.id})}">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer  @#@-->
            <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal @#@-->
    <div class="replace-fragment" id="logout-dialog" th:replace="~{fragments/logout_modal.html :: #logoutModal}"></div>


    <!-- Add user Modal @#@-->
    <div class="replace-fragment" id="add-user-dialog"
         th:replace="~{fragments/add_employee.html :: #add_user_form}"></div>


    <!-- replace with global scripts @#@ -->
    <div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>


    <!-- replace with page scripts @#@ -->
    <div th:replace="~{fragments/local_assets.html :: #datatable/script}" class="replace-fragment"></div>


</body>

</html>