<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="w0l1d">


  <title th:text="#{title.update_user}">Gestion des Stagiaires - Stagiares</title>

  <!-- replace with global stylesheets-->
  <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>





</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar @#@ -->
  <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar @#@-->
      <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800"
            th:text="${isProfile}? #{page.title.profile}:#{title.update_user}">Stagiaires</h1>
        <form  id="add_user_form" th:object="${employee}"
               method="post" th:action="@{${#httpServletRequest.requestURI}}">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="d-inline m-0 font-weight-bold text-primary">
              </h6>


            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="name" th:text="#{form.name}">Name</label>
                <input type="text" class="form-control"
                       id="name" th:field="*{name}" required>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cin" th:text="#{form.cin}">CIN</label>
                  <input type="text" class="form-control"
                         id="cin" required th:field="*{cin}"
                         pattern="^[A-Za-z]{1,2}[0-9]{4,8}$">
                </div>
                <div class="form-group col-md-6">
                  <label for="email" th:text="#{form.email}">Email</label>
                  <input type="email" class="form-control"
                         id="email" required th:field="*{email}">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="username" th:text="#{form.username}">Username</label>
                  <input type="text" class="form-control"
                         id="username" readonly th:field="*{username}">
                </div>
                <div class="form-group col-md-6">
                  <label for="password" th:text="#{form.password}">Password</label>
                  <input type="password" th:field="*{password}"
                         class="form-control" id="password"
                         required/>
                </div>
              </div>


            </div>

            <div class="card-footer">
              <button th:text="#{action.update}" type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer  @#@-->
    <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- replace with global scripts @#@ -->
<div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>

</body>

</html>