.toast {
    height: auto;
    position: absolute;
    left: 50%;
    background-color: transparent;
    font-family: Calibri, serif;
    text-align: center;
    opacity: 0.9;
    z-index: 9;
    border: none;
    box-shadow: none;
}

input[id="cin"] {
    text-transform: uppercase;
}

input[id="username"] {
    text-transform: lowercase;
}