<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="w0l1d">


    <title th:text="#{title.page.stagiaire}">Gestion des Stagiaires - Stagiares</title>

    <!-- replace with global stylesheets-->
    <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>

    <!-- replace with local stylesheets-->
    <div th:replace="~{fragments/local_assets.html :: #stagiaires/link}" class="replace-fragment"></div>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar @#@ -->
        <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar @#@-->
                <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Stagiaires</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="d-inline m-0 font-weight-bold text-primary">
                                <div th:if="${msg_updated}" th:text="#{msg.stagiaire_updated}"
                                     class="alert alert-success d-inline-block"></div>

                                <div th:if="${msg_deleted} or ${param.deleted}" th:text="#{msg.stagiaire_deleted}"
                                     class="alert alert-danger d-inline-block"></div>
                            </h6>

                            <!-- Add stagiaire Modal Button @#@-->
                            <div th:replace="~{fragments/add_stagiaire.html :: #add_satgiaire_modal_button}" id="add-stagiaire-dialog-button" class="replace-fragment"></div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table table-striped table-bordered dt-responsive nowrap"
                                       style="width:100%"
                                       id="internersDataTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>CIN</th>
                                            <th>Email</th>
                                            <th>address</th>
                                            <th>Gender</th>
                                            <th>Phone</th>
                                            <th>Is Enabled</th>
                                            <th>Action</th>
                                        </tr>

                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>CIN</th>
                                            <th>Email</th>
                                            <th>address</th>
                                            <th>Gender</th>
                                            <th>Phone</th>
                                            <th>Is Enabled</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr     th:each="sat : ${stagiaires}">
                                            <td th:text="${sat?.id}"></td>
                                            <td th:text="${sat?.name}"></td>
                                            <td th:text="${sat?.username}"></td>
                                            <td th:text="${sat?.cin}"></td>
                                            <td th:text="${sat?.email}"></td>
                                            <td th:text="${sat?.address}"></td>
                                            <td th:text="${sat?.gender.getDisplayValue()}"></td>
                                            <td th:text="${sat?.phone}"></td>
                                            <td>
                                                <input type="checkbox" th:checked="${sat?.isEnabled()}"
                                                       data-toggle="toggle" data-onstyle="success" disabled
                                                       th:data-on="#{enabled}" th:data-off="#{disabled}">
                                            </td>
                                            <td>
                                                <form th:action="@{/stagiaires/{id}/delete(id=${sat?.id})}" method="post">
                                                    <button class="btn btn-danger btn-circle btn-sm">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                                <a th:href="@{/stagiaires/{id}(id=${sat?.id})}" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer  @#@-->
            <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal @#@-->
    <div th:replace="~{fragments/logout_modal.html :: #logoutModal}" id="logout-dialog" class="replace-fragment"></div>


    <!-- Add stagiaire Modal @#@-->
    <div th:replace="~{fragments/add_stagiaire.html :: #add_satgiaire_form}" id="add-stagiaire-dialog" class="replace-fragment"></div>


    <!-- replace with global scripts @#@ -->
    <div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>


    <!-- replace with page scripts @#@ -->
    <div th:replace="~{fragments/local_assets.html :: #stagiaires/script}" class="replace-fragment"></div>



</body>

</html>