<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="w0l1d">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <title th:text="#{title.page.interner}">Gestion des Stagiaires - Stagiares</title>

    <!-- replace with global stylesheets-->
    <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>

    <!-- replace with local stylesheets-->
    <div th:replace="~{fragments/local_assets.html :: #datatable/link}" class="replace-fragment"></div>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar @#@ -->
        <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar @#@-->
                <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
                <!-- End of Topbar -->


                <!-- Alerts -->
                <div class="replace-fragment" id="alerts"
                     th:replace="~{fragments/alerts.html :: #interner-alerts}"></div>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"
                        th:text="#{sidebar.stagiaires}">Stagiaires</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="d-inline m-0 font-weight-bold text-primary">

                            </h6>

                            <!-- Add interner Modal Button @#@-->
                            <div class="replace-fragment" id="add-interner-dialog-button"
                                 th:replace="~{fragments/add_interner.html :: #add_interner_modal_button}"></div>

                        </div>
                        <div class="card-body">
                            <table class="display responsive nowrap"
                                   style="width:100%; font-size: calc(0.5em + 1vmin);"
                                   id="serverSide-dataTable">
                                <thead>
                                <tr>
                                    <th th:text="#{form.id}">Id</th>
                                    <th class="all" th:text="#{form.name}">Name</th>
                                    <th th:text="#{form.cin}">CIN</th>
                                    <th th:text="#{form.username}">Username</th>
                                    <th th:text="#{form.gender}">Gender</th>
                                    <th th:text="#{form.phone}">Phone</th>
                                    <th th:text="#{form.status}">Is Enabled</th>
                                    <th th:text="#{form.email}">Email</th>
                                    <th th:text="#{form.address}">address</th>
                                    <th th:text="#{internship}">internship</th>
                                    <th class="all" th:text="#{action.action}">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer  @#@-->
            <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal @#@-->
    <div th:replace="~{fragments/logout_modal.html :: #logoutModal}" id="logout-dialog" class="replace-fragment"></div>


    <!-- replace with global scripts @#@ -->
    <div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>


    <!-- replace with page scripts @#@ -->
    <div th:replace="~{fragments/local_assets.html :: #datatable/script}" class="replace-fragment"></div>

    <!-- Add interner Modal @#@-->
    <div class="replace-fragment" id="add-interner-dialog"
         th:replace="~{fragments/add_interner.html :: #add_interner_form}"></div>


    <div class="d-none" id="interner-status">
        <div class="custom-control custom-switch">
            <input class="custom-control-input position-relative enabled-switch" disabled
                   th:checked="false" type="checkbox"/>
            <label class="custom-control-label enabled-label"></label>
        </div>
    </div>

    <!-- Datatable Actions  @#@-->
    <div class="d-none replace-fragment"
         id="actions"
         th:insert="~{fragments/datatable_fragments.html :: dt-actions (msg=#{msg.confirm_delete.stagiare})}"></div>

    <div class="d-none" id="add-internchip">
        <a class="btn btn-primary btn-circle btn-sm"
           href="#">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    <script>
        $(document).ready(function () {
            let langUrl = '/js/json/' + $('html').attr('lang') + '.json'

            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");


            $('#serverSide-dataTable')
                .DataTable({
                    language: {
                        url: langUrl
                    },
                    serverSide: true,
                    columns: [
                        {data: 'id'},
                        {
                            data: 'name',
                            render: function (data, type, row) {
                                return `<a href="/interners/${row.id}">${data}</a>`
                            }
                        },
                        {data: 'cin'},
                        {data: 'username'},
                        {
                            data: 'gender',
                            searchable: false,
                            render: function (data, type, row) {
                                let icon = 'fa-male'
                                let color = 'rgba(45,169,217,0.72)';
                                if (data === 'F') {
                                    icon = 'fa-female';
                                    color = 'rgba(241,103,175,0.77)'
                                }

                                return `<i class="fa fa-2x ${icon} d-block text-center" style="color: ${color}"></i>`;
                            }
                        },
                        {data: 'phone'},
                        {
                            data: 'enabled',
                            orderable: false,
                            searchable: false,
                            render: function (data, type, row) {
                                console.log(row)
                                let status = $('#interner-status').clone()
                                $(status).find('.enabled-switch').attr('id', row.id + '-switch').attr('checked', data)
                                $(status).find('.enabled-label').attr('for', row.id + '-switch');
                                console.log($(status, '.enabled-switch').html())
                                console.log(status.html())
                                return status.html();
                            }
                        },
                        {data: 'email'},
                        {data: 'address'},
                        {
                            data: null,
                            orderable: false,
                            searchable: false,
                            render: function (data, type, row) {
                                let internship = $('#add-internchip').clone();
                                $(internship).find('.btn-primary').attr('href', `/interners/${row.id}/internship`);
                                return internship.html();
                            }
                        },
                        {
                            data: null,
                            orderable: false,
                            searchable: false,
                            render: function (data, type, row) {
                                let actions = $('#actions').clone();
                                $(actions).find('.btn-danger').attr('href', `/interners/${row.id}/delete`);
                                $(actions).find('.btn-primary').attr('href', `/interners/${row.id}/update`);
                                return actions.html();
                            }
                        },
                    ],
                    ajax: {
                        'contentType': 'application/json',
                        url: '/api/interner',
                        type: 'POST',
                        'data': function (d) {
                            return JSON.stringify(d);
                        },
                        'beforeSend': function (request) {
                            request.setRequestHeader(header, token);
                        }
                    }
                });
        });

    </script>
</body>

</html>