<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="w0l1d" name="author">


    <title th:text="#{title.update_stagiaire}">Gestion des Stagiaires - Stagiares</title>

    <!-- replace with global stylesheets-->
    <div th:replace="~{fragments/all_assets.html :: link}" class="replace-fragment"></div>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar @#@ -->
  <div th:replace="~{fragments/sidebar.html :: #sidebar}" id="sidebar" class="replace-fragment"></div>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar @#@-->
      <div th:replace="~{fragments/navbar.html :: #navbar}" id="navbar" class="replace-fragment"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800" th:text="#{title.add_stagiaire}">Stagiaires</h1>
            <form id="add_stagiaire_form" method="post"
                  th:action="@{${#httpServletRequest.requestURI}}"
                  th:class="${#fields.hasAnyErrors()? 'was-validated':''}"
                  th:object="${interner}">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="d-inline m-0 font-weight-bold text-primary">
                        </h6>

                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name" th:text="#{form.name}">Name</label>
                            <input id="name" required
                                   th:class="'form-control' + ${#fields.hasErrors('name')?' is-invalid':''}"
                                   th:field="*{name}" type="text">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                Errors
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8 col-sm-8">
                                <label for="cin" th:text="#{form.cin}">CIN</label>
                                <input id="cin" pattern="^[A-Za-z]{1,2}[0-9]{4,8}$"
                                       placeholder="AB12345678 A1234 A12345678" required
                                       th:class="'form-control ' + ${#fields.hasErrors('cin') ? 'is-invalid':''}"
                                       th:field="*{cin}"
                                       type="text">
                                <small class="form-text text-muted text-gray-500">1-2 Lettres + 4 to 8 Nombres</small>
                                <div class="invalid-feedback"
                                     th:errors="*{cin}"
                                     th:if="${#fields.hasErrors('cin')}"></div>
                            </div>
                            <div class="form-group col-md-4 col-sm-4">
                                <label for="gender" th:text="#{form.gender}">Gender</label>
                                <select id="gender" name="gender"
                                        required
                                        th:class="'form-control ' + ${#fields.hasErrors('gender') ? 'is-invalid':''}"
                                        th:field="*{gender}">
                                    <option th:each="genders : ${T(com.storactive.stg.model.enums.Gender).values()}"
                                            th:text="${genders.displayValue}" th:value="${genders}"></option>
                                </select>
                                <div class="invalid-feedback"
                                     th:errors="*{gender}"
                                     th:if="${#fields.hasErrors('gender')}"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="username" th:text="#{form.username}">Username</label>
                                <input type="text" class="form-control"
                                       id="username" readonly th:field="*{username}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password" th:text="#{form.password}">Password</label>
                                <input id="password" min="8" required
                                       th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid':''}"
                                       th:field="*{password}"
                                       type="password"/>
                                <div class="invalid-feedback"
                                     th:errors="*{password}"
                                     th:if="${#fields.hasErrors('password')}"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email" th:text="#{form.email}">Email</label>
                                <input id="email" required
                                       th:class="'form-control ' + ${#fields.hasErrors('email') ? 'is-invalid':''}"
                                       th:field="*{email}" type="email">
                                <div class="invalid-feedback"
                                     th:errors="*{email}"
                                     th:if="${#fields.hasErrors('email')}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone" th:text="#{form.phone}">Phone</label>
                                <input id="phone"
                                       placeholder="0123456789 | +212 123456789 | +1 123456789"
                                       required
                                       th:class="'form-control ' + ${#fields.hasErrors('phone') ? 'is-invalid':''}"
                                       th:field="*{phone}"
                                       type="text">
                                <small class="form-text text-muted text-gray-500">[zero (0) OR country code(Ex: +212)] +
                                    9
                                    digits</small>
                                <div class="invalid-feedback"
                                     th:errors="*{phone}"
                                     th:if="${#fields.hasErrors('phone')}"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" th:text="#{form.address}">Address</label>
                            <input id="address"
                                   th:class="'form-control ' + ${#fields.hasErrors('address') ? 'is-invalid':''}"
                                   th:field="*{address}"
                                   type="text">
                            <div class="invalid-feedback"
                                 th:errors="*{address}"
                                 th:if="${#fields.hasErrors('address')}"></div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   id="enabled" th:field="*{enabled}">
                            <label th:text="#{form.enable_checkbox}" class="form-check-label" for="enabled">
                                Account Enabled
                            </label>
                        </div>

                    </div>

            <div class="card-footer">
              <button th:text="#{action.update}" type="submit" class="btn btn-primary btn-block">Add</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer  @#@-->
    <div th:replace="~{fragments/footer.html :: #footer}" id="footer" class="replace-fragment"></div>
    <!-- End of Footer -->

  </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal @#@-->
<div class="replace-fragment" id="logout-dialog" th:replace="~{fragments/logout_modal.html :: #logoutModal}"></div>


<!-- replace with global scripts @#@ -->
<div th:replace="~{fragments/all_assets.html :: script}" class="replace-fragment"></div>

</body>

</html>