<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="w0l1d" name="author">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <title th:text="#{title.page.history}">Gestion des Stagiaires - Stagiares</title>

    <!-- replace with global stylesheets-->
    <div class="replace-fragment" th:replace="~{fragments/all_assets.html :: link}"></div>

    <!-- replace with local stylesheets-->
    <div class="replace-fragment" th:replace="~{fragments/local_assets.html :: #datatable/link}"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar @#@ -->
    <div class="replace-fragment" id="sidebar" th:replace="~{fragments/sidebar.html :: #sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar @#@-->
            <div class="replace-fragment" id="navbar" th:replace="~{fragments/navbar.html :: #navbar}"></div>
            <!-- End of Topbar -->


            <!-- Alerts -->
            <div class="replace-fragment" id="alerts" th:replace="~{fragments/alerts.html :: #history-alerts}"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800" th:unless="${myLog}"
                    th:text="#{sidebar.history}">Histories</h1>
                <h1 class="h3 mb-4 text-gray-800" id="my-log" th:if="${myLog}"
                    th:text="#{sidebar.activity_log}">Histories</h1>


                <div class="card shadow mb-4">
                    <div class="card-header justify-content-around align-items-center py-3 row">
                        <a class="btn btn-danger bg-gradient-danger col-auto"
                           href="/history/delete-my-log"
                           style="opacity: 0.75;"
                           th:onclick="'return confirm(\''+#{msg.confirm_delete.my_log}+'\');'"
                           th:text="#{action.delete.my_log}"></a>
                        <a class="btn btn-danger bg-gradient-danger col-auto"
                           href="/history/delete-log"
                           style="opacity: 0.75;"
                           th:onclick="'return confirm(\''+#{msg.confirm_delete.log}+'\');'"
                           th:text="#{action.delete.log}"></a>

                    </div>
                    <div class="card-body">
                        <table class="display responsive nowrap"
                               id="serverSide-dataTable"
                               style="width:100%; font-size: calc(0.5em + 1vmin);">
                            <thead>
                            <tr>
                                <th th:text="#{form.id}">Id</th>
                                <th class="all" th:text="#{action.action}">Action</th>
                                <th th:text="#{form.done_at}">Created At</th>
                                <th th:text="#{form.done_by}">Created By</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th th:text="#{form.id}">Id</th>
                                <th class="all" th:text="#{action.action}">Action</th>
                                <th th:text="#{form.done_at}">Created At</th>
                                <th th:text="#{form.done_by}">Created By</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer  @#@-->
        <div class="replace-fragment" id="footer" th:replace="~{fragments/footer.html :: #footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal @#@-->
<div class="replace-fragment" id="logout-dialog" th:replace="~{fragments/logout_modal.html :: #logoutModal}"></div>


<!-- replace with global scripts @#@ -->
<div class="replace-fragment" th:replace="~{fragments/all_assets.html :: script}"></div>


<!-- replace with page scripts @#@ -->
<div class="replace-fragment" th:replace="~{fragments/local_assets.html :: #datatable/script}"></div>

<div class="d-none" id="user-natures">
    <div id="n-0" th:text="#{user.nature.user}"></div>
    <div id="n-1" th:text="#{user.nature.employee}"></div>
    <div id="n-2" th:text="#{user.nature.interner}"></div>
</div>

<script>
    $(document).ready(function () {
        const lg = $('html').attr('lang')
        let langUrl = '/js/json/' + lg + '.json'

        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");

        const dateOptions = {year: 'numeric', month: 'long', day: 'numeric'};


        let ntVal = [];
        $('#user-natures').children().each(function () {
            ntVal.push($(this).text())
        })

        $('#serverSide-dataTable')
            .DataTable({
                order: [
                    [0, "desc"]
                ],
                language: {
                    url: langUrl
                },
                serverSide: true,
                columns: [
                    {data: 'id'},
                    {data: 'action'},
                    {
                        data: 'createdDate',
                        render: function (data, type, row) {
                            let dt = new Date(data)
                            return dt.toLocaleDateString(lg, dateOptions)
                        }
                    },
                    {
                        data: 'createdBy',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row) {
                            if (data == null)
                                return 'null';
                            const i = data.userNature;
                            return `<strong>${data.id} <small>(${ntVal[i]})</small></strong> ~ ${data.name}`
                        }
                    },
                ],
                ajax: {
                    'contentType': 'application/json',
                    url: !!$('#my-log') ? '/api/my-history' : '/api/history',
                    type: 'POST',
                    'data': function (d) {
                        return JSON.stringify(d);
                    },
                    'beforeSend': function (request) {
                        request.setRequestHeader(header, token);
                    }
                }
            });
    });

</script>

</body>

</html>